.project-container {
  margin-bottom: 80px;
}

.project-container div {
  margin-bottom: 10px;
}

.code-icon:hover {
  opacity: .7;
}

.project-img:hover {
  opacity: .2;
}

.description{
  display: -webkit-box;
  text-align: left;
}

.project-img {
  transition: opacity .5s ease-in-out 0s;
}

img {
  max-width: 100%;
  max-height: auto;
}

.project {
  padding-bottom: 2%;
}

.code-icon {
  width: 35px;
  height: 33px;
}

.code-link {
  display: inline-block;
}

.icon {
  width: 25px;
  height: auto;
  margin: 0 10px;
}

.gitHub {
  width: 80px;
  height: auto;
}

.icon-container {
  display: flex;
  align-items: center;
}

.stack-list {
  display: inline-flex;
}

@media only screen and (min-width: 1600px) {
  .project-link-text {
    color: black;
    position: relative;
    top: 4in;
    z-index: -1;
    font-size: 30px;
  }
}
