.project, .learnMore, .landing {
  animation-duration: .5s;
  animation-name: fadein;
}

.project:hover {
  opacity: .9;
  transition-duration: 300ms;
}

img {
  max-width: 100%;
  max-height: auto;
}

.project {
  padding-bottom: 2%;
}

.icon {
  width: 25px;
  height: auto;
  margin: 0 10px;
}

.gitHub {
  width: 80px;
  height: auto;
}

.icon-container {
  display: flex;
  align-items: center;
}
